body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

/*Row 3*/
.containerRow3{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.redRow3 {
  width: 80px;
  background-color: red;
}

.blueRow3 {
  width: 80px;
  background-color: blue;
}

/*Row 4*/
.redRow4 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse; 
  background-color: red;
}

.blueRow4 {
  width: 80px;
  background-color: blue;
}

/*Row 5*/
.containerRedRow5 {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;   
}

.redBoxRow5 {
  width: 40px;
  height: 40px;
  background-color: red;
}

/* Row 6 */
.containerRedRow6 {
  display: flex; 
  flex: 1;
  justify-content: center;   
  background-color: red;
}

.blueBoxRow6 {
  width: 90px;
  background-color: blue;
}

 /* Row 7 */
 .containerRow7 {
  display: flex;
  height: 60px;
  background-color: transparent;
  margin-bottom: 20px;
 }
 
 .redBoxRow7 {
  width: 15%;
  background-color: red;
 }
 
 .blueBoxRow7 {
  display: flex;
  width: 85%;
  align-items: center;
  background-color: blue;
 }

 .greenBoxRow7 {
  height: 20px;
  width: 100%;
  background-color: green;
 }

  /* Row 8 */
.containerRow8 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: space-between;
}

.orangeBoxRow8 {
  width: 100px;
  background-color: orange;
}

  /* Row 9 */
  .containerRow9 {
    display: flex;
    height: 60px;
    background-color: orange;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  
  .greenBoxRow9 {
    width: 80px;
    background-color: green;
  }